.main {
  background: linear-gradient(
    to bottom right,
    hsl(128, 42.86%, 51.96%) 0%,
    hsl(128.78, 42.54%, 52.19%) 3.9%,
    hsl(130.97, 41.67%, 52.81%) 8.1%,
    hsl(134.31, 40.33%, 53.73%) 12.5%,
    hsl(138.68, 38.62%, 54.84%) 17.3%,
    hsl(144.03, 36.62%, 56.07%) 22.4%,
    hsl(150.42, 34.41%, 57.33%) 27.9%,
    hsl(157.97, 32.06%, 58.58%) 33.8%,
    hsl(166.78, 29.64%, 59.79%) 40.1%,
    hsl(176.98, 27.23%, 60.91%) 46.9%,
    hsl(187.5, 29.5%, 63.29%) 54.3%,
    hsl(195.72, 33.52%, 65.83%) 62.2%,
    hsl(201.93, 37.34%, 67.95%) 70.7%,
    hsl(206.39, 40.65%, 69.58%) 79.8%,
    hsl(209.23, 43.07%, 70.68%) 89.6%,
    hsl(210.46, 44.22%, 71.18%) 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
    padding: 10px;
    padding-top: 70px;
  }
}
